* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  background-color: red;
  height: 10vh;
}

body main {
  background-color: blue;
  height: 80vh;
}

body footer {
  background-color: green;
  height: 10vh;
}

